extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeHolder="Full Name")
            input(type="email", name="email", placeHolder="Email")
            input(type="password", name="password", placeHolder="Password")
            input(type="password", name="password2", placeHolder="Verify Password")
            input(type="submit", value="Join Now")
        include partials/socialLogin